
html, body{
    padding: 0;
    background-color: #e2e2e2;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    font-size: 10px;
    min-width: 600px;
}
input{
    margin: 0;
    padding: 0;
}
._gray{
    color: rgba(0,0,0,0.5);
}
.or-tasks-section{}
.or-tasks-section .or-tasks-section__title{
    text-align: center;
    font-size: 3.6rem;
    padding-top: 3rem;
}
.or-tasks-box{

}
.or-tasks-box .or-tasks-box__inner{
    padding: 10px;
}
.or-tasks{
    position: relative;
    max-width: 500px;
    margin: auto ;
}
.or-tasks .or-tasks__list{
    padding: 20px;
    padding-bottom: 0;
    position: relative;
    overflow: auto;
    max-height: 50vh;
    /*min-height: 200px;*/
    border: 1px solid #0a001f;
    background-color: #f2f2ee;
    margin-bottom: 25px;
}
.or-tasks .or-tasks__list:after{
    content: "";
    display: block;
    position: relative;
    float: none;
    width: 100%;
    height: 20px;
}
.or-tasks__list-i{
    border: 1px solid #0a001f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.or-tasks__list-i:last-child{
    margin-bottom: 0;
}
.or-tasks__menu{
    padding: 20px;
    border: 1px solid #0a001f;
    background-color: #f2f2ee;
}
.or-tasks__menu._add-edit .or-form,
.or-tasks__menu .or-form{
    display: none;
}
.or-tasks__menu._add-edit .or-form._add-edit,
.or-tasks__menu:not(._add-edit) .or-form._main{
    display: block;
}
.or-tasks-item{}
.or-tasks-item .or-tasks-item__inner{}
.or-tasks-item .or-tasks-item__title{
    font-size: 2.4rem;
    padding: 10px 0 24px;
}
.or-tasks-item .or-tasks-item__info{
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    max-width: 100%;
    font-size: 1.6rem;
}
.or-tasks-item .or-tasks-item__info .or-tasks-item__info-cell{
    flex-basis: 50%;
    padding-left: 20px;
    padding-right: 10px;
    max-width: 50%;
    margin-bottom: 10px;
}
.or-tasks-item .or-tasks-item__info .or-tasks-item__info-cell:nth-child(2n+1){
    padding-left: 0;
}
.or-tasks-item .or-tasks-item__info .or-tasks-item__info-cell._wide{
    flex-basis: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.4rem;
    max-width: 100%;
}
.or-tasks-item .or-tasks-item__info .or-tasks-item__info-cell._flex{
    display: flex;
    flex:1 1 100%;
    align-content: flex-start;
    align-items: flex-start;
}
.or-tasks-item-desc{
    display: none;
    opacity: 0.8;
}
.or-tasks-item .or-tasks-item__nav{}
.or-tasks-item._desc .or-tasks-item-desc{
    display: block;
}
/* FORM ELEMENTs*/
.or-form{
    position: relative;
    display: block;
    max-width: 100%;
}
.or-form .or-form__row{
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    max-width: calc(100% + 10px);
    margin-left: -10px;
    align-content: center;
    align-items: center;
    margin-top: 15px;
}
.or-form .or-form__row:first-child{
    margin-top: 0;
}
.or-form .or-form__element{
    display: block;
    margin-left: 10px;
}
.or-form .or-form__element._button-link,
.or-form .or-form__element._button,
.or-form .or-form__element._checkbox,
.or-form .or-form__element._label,
.or-form .or-form__element._title-form,
.or-form .or-form__element._textarea{
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.2s;
    width: calc(100% - 1px);
    flex-basis: calc(100% - 1px);
    max-width: calc(100% - 1px);
    margin-bottom: 5px;
    text-transform: uppercase;
}
.or-form .or-form__element._title-form{
    font-size: 1.6rem;
}
.or-form .or-form__row._coll-3 .or-form__element{
    width: calc((100%/3) - 10px - 1px);
    flex-basis: calc((100%/3) - 10px - 1px);
    max-width: calc((100%/3) - 10px - 1px);
}
.or-form .or-form__row._coll-2 .or-form__element{
    width: calc((100%/2) - 10px - 1px);
    flex-basis: calc((100%/2) - 10px - 1px);
    max-width: calc((100%/2) - 10px - 1px);
}
.or-form .or-form__row._coll-2._labels .or-form__element:nth-child(1){
    width: calc((100%/3) - 10px - 1px);
    flex-basis: calc((100%/3) - 10px - 1px);
    max-width: calc((100%/3) - 10px - 1px);
}
.or-form .or-form__row._coll-2._labels .or-form__element:nth-child(2){
    width: calc((100%/3)*2 - 10px - 1px);
    flex-basis: calc((100%/3)*2 - 10px - 1px);
    max-width: calc((100%/3)*2 - 10px - 1px);
}
.or-form .or-form__element input,
.or-form .or-form__element label,
.or-form .or-form__element select,
.or-form .or-form__element option{
    cursor: pointer;
    user-select: none;
}
.or-form .or-form__element._button{
    border: 1px solid #0a001f;
    padding: 5px 15px;
    text-transform: uppercase;
    user-select: none;
    outline: none;
}
.or-form .or-form__element._input,
.or-form .or-form__element._input input,
.or-form .or-form__element._textarea,
.or-form .or-form__element._textarea textarea{
    width: 100%;
    user-select: none;
    outline: none;
    border-width: 1px;
}
.or-form .or-form__element._input{
    font-size: 1.2rem;
}
.or-form .or-form__element._input input,
.or-form .or-form__element._textarea textarea{
    padding: 5px 10px;
}
.or-form .or-form__element._textarea textarea{
    resize: none;
    font-weight: normal;
    font-family: monospace;
}
.or-form .or-form__element._label{
    cursor: default;
    text-align: right;
    text-transform: none;
    font-weight: normal;
    align-self: flex-start;
    padding-top: 5px;
}
.or-form .or-form__element._button._inner-button{
    padding: 0;
}
.or-form .or-form__element._button._inner-button input{
    border: none;
    box-shadow: none;
    background: transparent;
    width: 100%;
    padding: 5px 15px;
    outline: none;
    user-select: none;
}

.or-form._validate .or-form__element button:invalid,
.or-form._validate .or-form__element textarea:invalid,
.or-form._validate .or-form__element select:invalid,
.or-form._validate .or-form__element input:invalid{
    border-color: red;
}

.or-form .or-form__element._button._disabled{
    background-color: #e2e2e2;
    opacity: 0.6;
    transition: none;
    cursor: default;
}
.or-form .or-form__element._button:hover{
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.35);
}
.or-form .or-form__element._button:active{
    transform: scale(0.95);
}
.or-form .or-form__element._button._disabled:hover,
.or-form .or-form__element._button._disabled:active{
    box-shadow:none;
    transform: none;
}
.or-form .or-form__element._button-link{
    border-color: transparent;
    text-decoration: underline;
}
.or-form .or-form__element._button-link:hover{
    text-decoration: none;
}
.or-form .or-form__element._button-link._d-text ._d-text--start,
.or-form .or-form__element._button-link._d-text ._d-text--result{
    display: none;
}
.or-form .or-form__element._button-link._d-text ._d-text--start{
    display: inline;
}

.or-form .or-form__element._checkbox,
.or-form .or-form__element._select{
    font-weight: normal;
    text-transform: uppercase;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    align-content: center;
    max-width: 100%;
}
.or-form .or-form__element._checkbox label,
.or-form .or-form__element._checkbox input{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.or-form .or-form__element._checkbox label,
.or-form .or-form__element._select select{
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    user-select: none;
}
.or-form .or-form__element._checkbox input{
    margin-right: 5px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
}
.or-form .or-form__element._select select{
    border: 1px solid #000000;
    outline: none;
    padding: 5px 10px;
    font-size: 1.2rem;
}
.or-form .or-form__element._select select:active,
.or-form .or-form__element._select select:focus{
    border-width: 1px;
}

.or-tasks-msg{
    font-size: 1.6rem;
    line-height: 1.4;
}

/* CUSTOMIZE */
.or-tasks-item._desc .or-form .or-form__element._button-link._d-text ._d-text--start{
    display: none;
}
.or-tasks-item._desc .or-form .or-form__element._button-link._d-text ._d-text--result{
    display: inline;
}
/* END */